<main>
  <section>
    <article>
      <h1>Zoo State</h1>
      <article>
        <form [formGroup]="form" (submit)="submit()">
          <ul>
            <li>
              <label for="nom">Nom de l'animal</label>
              <input type="text" formControlName="name" name="nom" />
            </li>
          </ul>
          <p>
            <button type="submit">Ajouter</button>
          </p>
        </form>
      </article>
    </article>

    <ng-container *ngIf="animals$ | async as animals">
      <article>
        <h2>List of animals</h2>
        <ul>
          <li *ngFor="let animal of animals">
            {{ animal }}
          </li>
        </ul>
      </article>
    </ng-container>
  </section>
</main>
